

.box{
    border: 2px solid;
    padding: 15px;
    box-sizing: border-box;
    height: auto;
    width: 50%;
    float: left;
    text-align: center;
    max-width: 25%;
}
#box1{
    width: 100px;
    height: 100px;
    background-color: rgb(64, 64, 148);
    position: relative;
    top: 200px;
    left: 600px;
}
#container{
    border: 2px solid;
}
#container > p{
    background-color: yellow;
}

li:hover{
    background-color: yellow;
}
li:not(:hover){
    background-color: grey;
    
}